body{
  position:relative;
}
.itemContainer .uk-link-toggle:hover .uk-link, .uk-link:hover, a:hover {
  text-decoration: none!important;
}
.itemContainer .item:hover .iconText
{
  text-decoration: underline;
}

.item > a{
  display:flex;
  align-items: center;
  gap:20px;
  margin:5px;
  padding:5px;
  flex-direction: $direction;
  font-size: $textSize;
}
.item
{
  width:fit-content;
  position:relative;
  border-radius:$borderRadius;
}

.item:not(.itemTab .item)
{
  transition: .3s;
}
.itemIcon
{
  font-size: $iconSize;
}

.item:not(.toggleButton.item):hover
{
 transform:$animation ;
}
.item a:hover, .item a
{
  background-color:transparent!important;
}

#desktopContainer
{
  position:fixed;
  transform:$translation;
  z-index: 9999999;
  display:flex;
  flex-direction: column;
  align-items: $toggleFlex;
  .itemContainer
  {
    list-style: none;
    display:flex;
    flex-direction: $containerDirection;
    width:fit-content;
    z-index:999999;
    gap:3px;
    align-items:$alignItems;
    justify-content:$justifyContent;
    transform: translate($toggleTranslation, 0px);
    transition: .5s;
  }
  .toggleButton
  {
    display:flex;
    justify-content: center;
    align-items: center;
    line-height: 1em;
    background-color:$globalBackgroundColor;
    color:$globalTextColor;
    font-size:$iconSize;
    transition: 1s;
    margin-top:10px;
  }
  .toggleButton:hover, .toggleButton:active
  {
    color:$globalTextHoverColor;
    background-color: $globalHoverBackgroundColor;
    scale:110%;
  }
  .show
  {
    transform: translate(0px, 0px);
  }
}

.toggleButton.item
{
  padding: unset!important;
}

.hide
{
  display: none;
}

@media(max-width:$breakpoint)
{
  #mobileContainer
  {
    display:flex;
    flex-direction:column-reverse;
    position: fixed;
    z-index:9999999;
    transform:$translationM;

    #mobileMenu li {
      margin-top: 5px;
    }
    .itemContainer
    {
      transform: $animationM;
      transition: .5s;
    }
    .item:not(.toggleButton.item)
    {
      width:100%;
      padding-left:8px;
      padding-right:8px;

    }
    .item:not(.toggleButton.item):hover
    {
      transform:unset!important;
    }
    .toggleButton
    {
      display:flex;
      justify-content: center;
      align-items: center;
      line-height: 1em;
      background-color:$globalBackgroundColor;
      color:$globalTextColor;
      font-size:$iconSize;
      transition: 1s;
      margin-top:10px;
    }
    .toggleButton:hover, .toggleButton:active
    {
      color:$globalTextHoverColor;
      background-color: $globalHoverBackgroundColor;
      scale:110%;
    }
    .show
    {
      transform: translate(0px, 0px);
    }
  }
  #desktopContainer
  {
    display:none;
  }

  .toggleStat{
    transform:rotate(180deg);
  }
}

@media(min-width:$breakpoint)
{
  #mobileContainer
  {
    display: none!important;
  }
}
